{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'auth:register' %}">Register here</a></p>
</body>

</html>